@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------- */
/*  Custom properties           */
/* ---------------------------- */

:root {
  /* colors */
  --clr-purple: hsla(282, 83%, 52%, 1);
  --clr-royal-blue: hsla(230, 76%, 59%, 1);
  --clr-american-blue: hsla(230, 31%, 31%, 1);
  --clr-alice-blue: hsla(231, 100%, 97%, 1);
  --clr-ghost-white: hsla(230, 60%, 98%, 1);
  --clr-east-bay-blue: hsla(231, 33%, 34%, 1);
  --clr-dark-blue-gray: hsla(224, 20%, 49%, 1);
  --clr-tangerine: hsla(14, 83%, 74%, 1);
  --clr-may-blue: hsla(204, 94%, 68%, 1);
}

/* ---------------------------- */
/*  Reset                       */
/* ---------------------------- */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
